<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<properties>
    <property name ="basePath">./log</property>
  </properties>
  <Appenders>
  <RollingFile name="File" fileName="${basePath}/print.log" filePattern="${basePath}/print-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="500KB" />
          </RollingFile>
   <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>